/* input[type=text] {
     width: 62px;
     height: 50px;
     box-sizing: border-box;
     border: 1px solid #ccc;
     font-size: 16px;
     background-color: white;
     background-image: url('../img/search.png');
     background-position: center;
     background-repeat: no-repeat;
     padding:0px 0px 0px 60px;
     -webkit-transition: width 0.4s ease-in-out;
     transition: width 0.4s ease-in-out;
     margin-right: 10px;
   }
   
   input[type=text]:focus {
     width: 100%;
     background-position: right;
   } */

   #footer {
    background-image: url( "../img/footer.jpg" );
    background-repeat: no-repeat;
    background-position:355px;
    opacity: 0.5;
  } 

  .shop_header_area .navbar .navbar-nav li:first-child {
    margin-left: 20px;
  }