<div style="width: 8rem; border:1px solid #eceef1; border-radius:8px;">
  <div class="card-header">
    메뉴
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/admin/products">제품리스트</a></li>
    <li class="list-group-item"><a href="/admin/order">주문리스트</a></li>
    <li class="list-group-item"><a href="/admin/statistics">현황</a></li>
  </ul>
</div>